html, body {
    scroll-behavior: smooth;
}

#contact{
    height: 62vh;
    background-color: #999395;
}

.container{
    width: 800px;
    align-items: right;
}

h1{
    font-size: 2.5rem;
    font-family: Segoe UI;
    color: #e6b400;
    padding-top: 50px;
    font-weight: bold;
}

mat-form-field{
    text-align: right;
}

mat-label{
    font-family: Segoe UI; 
    color: #e6b400;    
    font-size: 1rem;  
}

input{
    font-family: Segoe UI; 
    color: #fff;    
    font-size: 1rem; 
}

form{
    padding-top: 30px;
}

button{
    margin-top: 20px;
    font-family: Segoe UI; 
    color: #1b1a1a;    
    font-size: 1.2rem;
    background-color: #e6b400; 
    font-weight: bold; 
    width: 200px;
    transition: 0.2s ease-in-out;
}

button:hover{ 
    font-size: 1.4rem;
}
