<section id="contact">
  <div class="container text-center">
    <h1>יצירת קשר</h1>
    <form>
      <div class="row">

        <mat-form-field appearance="fill" class="col">
          <mat-label>שם חברה</mat-label>
          <input matInput>
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="col">
          <mat-label>שם מלא</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" class="col">
          <mat-label>טלפון</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col">
          <mat-label>אימייל</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" class="message">
          <mat-label>הודעה</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit">שלח</button>
    </form>
  </div>
</section>