<section id="contact">
    <div class="container">
      <form class="con">
        <div class="form-field text-right">
            <label for="name" class="control-label">*:שם מלא</label>
            <input type="text" class="form-control" ngModel required name="fullName" #fullName="ngModel">
            <span class="help-block" *ngIf="fullName.invalid && fullName.touched">שדה חובה*</span>
          </div>

          <div class="form-field text-right">
            <label for="name" class="control-label">*:שם העסק</label>
            <input type="text" class="form-control" ngModel required name="busName" #busName="ngModel">
            <span class="help-block" *ngIf="busName.invalid && busName.touched">שדה חובה*</span>
          </div>

          <div class="form-field text-right">
            <label class="control-label">*:טלפון</label>
            <input type="tel" class="form-control" ngModel required name="phone" #phone="ngModel">
            <span class="help-block" *ngIf="phone.invalid && phone.touched">שדה חובה*</span>
          </div>

          <div class="form-field text-right">
            <label class="control-label">:הודעה</label>
            <br>
            <textarea id="mess" name="mess" rows="5" cols="33"></textarea>            
          </div>
          
          <div class="form-field text-right">
           <button dir="rtl" class="submit" value="send" type="submit">שלח</button>
          </div>  
        </form>
      </div>
</section>