.footer{
    background-color: black;
    width: 100%;
    padding: 2rem;
}


.logo-footer{
    padding-left: 70px;
}

img.phone{
    width: 20px;
    height: 20px ;
}

img.mail{
    width: 20px;
    height: 20px ;
}


img{
    height: 100px;
}

h1{
    direction: rtl;
    font-weight: bold;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    color: #e6b400; 
    text-align: center;
    text-decoration: underline; 
}

.serve{
    direction: rtl;
    font-weight: bold;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    color: white;  
    margin-right: -20%;
    padding-left: 4%;
}

.serve1{
    direction: rtl;
    font-weight: bold;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    color: white;  
}

.serve2{
    text-align: center;
    direction: rtl;
    font-weight: bold;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    color: white;  
}

.serve3{
    text-align: center;
    direction: rtl;
    font-weight: bold;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    color: white;  
}

.serve4{
   text-align: center;
   direction: rtl;
    font-weight: bold;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    color: white;  
}

a{
    direction: rtl;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: white;
    text-decoration: none; 
}