.form-container{
    width: 100%;
    height: 88vh;
    background-color: #dddddd;
    padding-top: 50px;
}

h1{
    font-size: 3.2rem;  
    font-family: Segoe UI;
    color:#e6b400;
    font-weight: bold;
} 

h2{
    font-size: 2rem;  
    font-family: Segoe UI;
    color:#e6b400;
    margin-top: 20px;
    font-weight: bold;
} 

h3{
    font-size: 1.2rem;  
    font-family: Segoe UI;
    color:#000;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
}

.container{
    width: 30rem;
    margin: auto;
    margin-top: 5rem;
}

mat-form-field{
    text-align: right;
    margin-bottom: 16px;
}

mat-form-field.mat-form-field {
    font-family: Segoe UI;
    font-size: 1rem;
}

.forgot-container{
    margin-top: 10px;
}

a{
    text-decoration: none;
    font-size: 1rem;  
    font-family: Segoe UI;
    color:#e6b400;
    font-weight: bold;
}

.submit{
    margin-top: 70px;
    font-family: Segoe UI; 
    color: #1b1a1a;    
    font-size: 1.2rem;
    background-color: #e6b400; 
    font-weight: bold; 
    width: 200px;
    height: 45px;
    transition: 0.2s ease-in-out;
}

button:hover{
    font-size: 1.3rem;
}

.alert{
    font-family: Segoe UI; 
    color: red;
    font-weight: bold; 
}