<div class="header">
    <div class="container row">
        <section class="header-logo col-3">
            <div class="logo-container">
                <a>
                    <img src="assets/images/logo.png" alt="logo">
                </a>
            </div>
        </section>
        <section class="header-nav col-6">
            <nav class="navbar navbar-expand-sm translate-middle">
                <ul class="text-center navbar-nav">
                    <li class="nav-item">
                        <a href="#contact" class="nav-link" mat-button>יצירת קשר</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about-us" class="nav-link" mat-button>מי אנחנו</a>
                    </li>
                    <li>
                        <a href="#workers" class="nav-link" mat-button>עובדים</a>
                    </li>
                    <li>
                        <a href="#companies" class="nav-link" mat-button>חברות וארגונים</a>
                    </li>
                    <li>
                        <a href="#home" class="nav-link" mat-button>דף הבית</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="header-login col-3">
            <div class="login-container center">
                <span mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
                    (mouseenter)="menuTrigger.openMenu()">
                    <i class="fas fa-user-circle"></i>
                </span>



                <mat-menu #menu="matMenu" [overlapTrigger]="false" class="menu" xPosition="before">
                    <span (mouseleave)="menuTrigger.closeMenu()">
                        <a *ngIf="!authenticationService.isAuthenticated" mat-menu-item
                            [routerLink]="['/sign-in/Employee-entry']">עובדים</a>
                        <a *ngIf="!authenticationService.isAuthenticated" mat-menu-item
                            [routerLink]="['/sign-in/Management-system']">מערכת ניהול</a>
                        <a *ngIf="!authenticationService.isAuthenticated" mat-menu-item
                            [routerLink]="['/sign-up']">הרשמה</a>
                        <a *ngIf="authenticationService.isAuthenticated && authenticationService.typeEntry == 'worker'"
                            mat-menu-item [routerLink]="['/private-area-worker']">אזור אישי</a>
                        <a *ngIf="authenticationService.isAuthenticated && authenticationService.typeEntry == 'employer'"
                            mat-menu-item [routerLink]="['/private-area-management']">אזור אישי</a>
                        <a *ngIf="authenticationService.isAuthenticated" (click)="logout()" mat-menu-item
                            [routerLink]="['/home']">התנתקות</a>
                    </span>

                </mat-menu>

            </div>

        </section>
    </div>
</div>


<!-- <nav class="navbar rtl navbar-expand-xl navbar-light" style="background-color: #ff5e58b0;">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#">BONUS PLUS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-right" id="navbarNavDropdown">
            <ul class="navbar-nav">
                
                <li class="nav-item">
                    <a class="nav-link" href="#">יצירת קשר</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">מי אנחנו</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">עובדים</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">חברות וארגונים</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">דף הבית</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        התחברות
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">עובדים</a></li>
                        <li><a class="dropdown-item" href="#">מערכת ניהול</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</nav> -->