<div class="header">
    <div class="container row">
        <div class="left-area col">
            <section class="header-login">
                <div class="login-container">
                    <span class="icon" mat-icon-button>
                        <i class="fas fa-user-circle"></i>
                    </span>
                    <span class="text">
                        <a class="menu-item" *ngIf="!this.isAuthenticated" mat-menu-item [routerLink]="['/worker-entry']">עובדים</a>
                        <a class="menu-item" *ngIf="!this.isAuthenticated" mat-menu-item [routerLink]="['/management-entry']">מערכת
                            ניהול</a>
                        <a class="menu-item" *ngIf="!this.isAuthenticated" mat-menu-item [routerLink]="['/sign-up']">הרשמה</a>
                        <a class="menu-item" *ngIf="this.isAuthenticated && this.typeEntry == 'worker'" mat-menu-item
                            [routerLink]="['/private-area-worker/personal-benefits']">אזור אישי</a>
                        <a class="menu-item" *ngIf="this.isAuthenticated && this.typeEntry == 'employer'" mat-menu-item
                            [routerLink]="['/private-area-management/all-benefits']">אזור אישי</a>
                        <a class="menu-item" *ngIf="this.isAuthenticated" (click)="logout()" mat-menu-item
                            [routerLink]="['/main-page']">התנתקות</a>
                    </span>
                </div>
            </section>
        </div>
        <div class="right-area col">
            <section class="header-nav">
                <nav class="navbar navbar-expand-sm translate-middle">
                    <ul class="navbar-nav">
                        <li>
                            <a [routerLink]="['/sign-up']" class="nav-link" mat-button>הרשמה</a>
                        </li>
                        <li>
                            <a href="#contact" class="nav-link" mat-button>יצירת קשר</a>
                        </li>
                        <li>
                            <a href="#companies" class="nav-link" mat-button>חברות וארגונים</a>
                        </li>
                        <li>
                            <a href="#about-us" class="nav-link" mat-button>מי אנחנו</a>
                        </li>
                        <li>
                            <a href="#home" class="nav-link" mat-button>ראשי</a>
                        </li>
                    </ul>
                </nav>
            </section>

            <section class="header-logo">
                <div class="logo-container">
                    <a href="">
                        <img src="assets/images/logo1.png" alt="logo">
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>