<div class="header">
    <div class="container row">
        <section class="header-logo col-3">
            <div class="logo-container">
                <a>
                    <img src="assets/images/logo.png" alt="logo">
                </a>
            </div>
        </section>
        <section class="header-nav col-6">
            <nav class="navbar navbar-expand-sm translate-middle">
                <ul class="text-center navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" mat-button>יצירת קשר</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" mat-button>מי אנחנו</a>
                    </li>
                    <li>
                        <a class="nav-link" mat-button>עובדים</a>
                    </li>
                    <li>
                        <a class="nav-link" mat-button>חברות וארגונים</a>
                    </li>
                    <li>
                        <a class="nav-link" mat-button>דף הבית</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="header-login col-3">
            <div class="login-container center">
                <a class="center btn-login" mat-stroked-button [routerLink]="['/SignIn']" routerLinkActive="router-link-active">כניסה למערכת <i class="fas fa-sign-in-alt"></i></a>
            </div>
        </section>
    </div>
</div>