<div class="container">
 
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)" class="text-center">
            <h1>?שכחת את הסיסמא</h1>
            <h2>?מה המייל איתו נרשמת לאתר</h2>
            <mat-form-field appearance="fill" hideRequiredMarker>
                <mat-label>מייל</mat-label>
                <input matInput formControlName="email" name="email" required>
                <mat-error>{{getEmailError()}}</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" value="send" class="submit">שלחו לי סיסמא</button>
            <button mat-dialog-close mat-flat-button type="submit" value="send" class="cancel">ביטול</button>
        </form>
</div>