<div class="container">
    <div class="close text-lef row-1" mat-mini-fab color="basic" mat-dialog-close>
        <mat-icon>clear</mat-icon>
    </div>
    <div class="text-center">
        <form (ngSubmit)="onSubmit(resetPasswordForm)" #resetPasswordForm="ngForm">
            <h1>?שכחת את הסיסמא</h1>
            <p>?מה המייל איתו נרשמת לאתר</p>
            <div class="form-field text-right" [class.has-error]="email.invalid && email.touched">
                <label for="email" class="control-label">כתובת מייל</label>
                <input type="email" class="form-control" name="email" ngModel required email #email="ngModel" >
                <span class="help-block" *ngIf="email.errors?.required && email.touched">מייל נחוץ*</span>
                <span class="help-block" *ngIf="email.errors?.email && email.touched">כתובת המייל לא תקינה*</span>
            </div>
            <button type="submit" value="send" class="submit">שלחו לי מייל</button>
        </form>
    </div>
</div>