h1{
    font-size: 1.8rem;  
    font-family: Segoe UI;
    color:#e6b400;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 15px;
} 

h2{
    font-size: 1.1rem;  
    font-family: Segoe UI;
    color:#000;
    font-weight: bold;
} 

mat-form-field{
    text-align: right;
    margin-top: 30px;
    font-family: Segoe UI;
    font-size: 1rem;
    font-weight: bold; 
    color: #000;
}

.submit{
    margin-top: 50px;
    font-family: Segoe UI; 
    color: #000;    
    font-size: 1rem;
    background-color: #e6b400; 
    font-weight: bold; 
    width: 170px;
    transition: 0.2s ease-in-out;
}

.submit:hover{
    font-size: 1.1rem
}

.cancel{
    width: 170px;
    margin-top: 10px;
    font-family: Segoe UI; 
    color: #000;    
    font-size: 1rem;
}
