<div class="all-page">
  <div class="container row">
    <div class="l-col-12 text-center">
        <h1>כל ההטבות</h1>
    </div>
    <mat-divider></mat-divider>
    <div class="col-9 router-container">
        <router-outlet></router-outlet>
    </div>
    <div class="side-nav col-3" text-right>
        <a mat-menu-item [routerLink]="['/private-area-worker/personal-benefits']">כל ההטבות</a>
        <a mat-menu-item [routerLink]="['/private-area-worker/benefits-used']">הטבות שמימשתי</a>
        <!-- <a mat-menu-item [routerLink]="">הטבות שאהבתי</a> -->
    </div>
  </div>
</div>