<div class="container text-right">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm)">
        <mat-form-field appearance="fill" hideRequiredMarker>
            <mat-label>שם חברה</mat-label>
            <input matInput formControlName="company" name="company" required matInput [(ngModel)]="employer.CompanyName">
            <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" hideRequiredMarker>
            <mat-label>שם מנהל</mat-label>
            <input matInput formControlName="name" name="name" required matInput [(ngModel)]="employer.NameEmployer">
            <mat-error></mat-error>
        </mat-form-field>
        <div formGroupName="address">
            <mat-form-field appearance="fill" hideRequiredMarker>
                <mat-label>עיר</mat-label>
                <input matInput formControlName="city" name="city" required matInput [(ngModel)]="address.City">
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" hideRequiredMarker>
                <mat-label>רחוב</mat-label>
                <input matInput formControlName="street" name="street" required matInput [(ngModel)]="address.Street">
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" hideRequiredMarker>
                <mat-label>מיקוד</mat-label>
                <input matInput formControlName="zipCode" name="zipCode" required matInput [(ngModel)]="address.ZipCode">
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill" hideRequiredMarker>
            <mat-label>פלאפון</mat-label>
            <input matInput formControlName="phone" name="phone" required matInput [(ngModel)]="employer.Phone">
            <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" hideRequiredMarker>
            <mat-label>מייל</mat-label>
            <input matInput formControlName="email" name="email" required matInput [(ngModel)]="employer.Email">
            <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" hideRequiredMarker>
            <mat-label>שם משתמש</mat-label>
            <input matInput formControlName="userName" name="userName" required matInput [(ngModel)]="employer.EmployerUserName">
            <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" hideRequiredMarker>
            <mat-label>סיסמא</mat-label>
            <input matInput formControlName="password" name="password" required matInput [(ngModel)]="employer.EmployerPassword">
            <mat-error></mat-error>
        </mat-form-field>
        <div class="row-12 actions-container">
            <button class="cancel col-3" mat-button (click)="onCancel()" mat-flat-button color="warn">ביטול</button>
            <button class="submit col-9" mat-button value="send" type="submit">שמירה</button>
        </div>
    </form>
</div>