.container{
    width: 260px;
    height: 100vh;
    color: #08376b;
    margin-right: 0rem;
    padding-top: 2rem;
}

.PersonalInformation {
    margin-right: -268%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Moredetails {
    margin-left: 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.logindetails {
    margin-left: 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

mat-form-field{
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.actions-container{
    margin-right: 0rem;
    width: 260px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20%;
}
