<div class="allP text-right">
    <div class="container">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm)">
            <div class="row">

                <div class="col-4 PersonalInformation1">
                    <h2>פרטי חברה</h2>
                    <mat-form-field appearance="fill" hideRequiredMarker>
                        <mat-label>שם חברה</mat-label>
                        <input matInput formControlName="company" name="company" required matInput
                            [(ngModel)]="employer.CompanyName">
                        <mat-error>{{getCompanyError()}}</mat-error>
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill" hideRequiredMarker>
                        <mat-label>שם מנהל</mat-label>
                        <input matInput formControlName="name" name="name" required matInput
                            [(ngModel)]="employer.NameEmployer">
                        <mat-error>{{getNameError()}}</mat-error>
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill" hideRequiredMarker>
                        <mat-label>פלאפון</mat-label>
                        <input matInput formControlName="phone" name="phone" required matInput
                            [(ngModel)]="employer.Phone">
                        <mat-error>{{getPhoneError()}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" hideRequiredMarker>
                        <mat-label>מייל</mat-label>
                        <input matInput formControlName="email" name="email" required matInput
                            [(ngModel)]="employer.Email">
                        <mat-error>{{getEmailError()}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-4 Moredetails1">
                    <h2>פרטים נוספים</h2>
                    <div formGroupName="address">
                        <mat-form-field appearance="fill" hideRequiredMarker>
                            <mat-label>עיר</mat-label>
                            <input matInput formControlName="city" name="city" required matInput
                                [(ngModel)]="address.City">
                            <mat-error>{{getCityError()}}</mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill" hideRequiredMarker>
                            <mat-label>רחוב</mat-label>
                            <input matInput formControlName="street" name="street" required matInput
                                [(ngModel)]="address.Street">
                            <mat-error>{{getStreetError()}}</mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill" hideRequiredMarker>
                            <mat-label>מיקוד</mat-label>
                            <input matInput formControlName="zipCode" name="zipCode" required matInput
                                [(ngModel)]="address.ZipCode">
                            <mat-error>{{getZipCodeError()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-4 logindetails1">
                    <h2>פרטי התחברות</h2>
                    <mat-form-field appearance="fill" hideRequiredMarker>
                        <mat-label>שם משתמש</mat-label>
                        <input matInput formControlName="userName" name="userName" required matInput
                            [(ngModel)]="employer.EmployerUserName">
                        <mat-error>{{getUserNameError()}}</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" hideRequiredMarker>
                        <mat-label>סיסמא</mat-label>
                        <input matInput formControlName="password" name="password"  type="password" required matInput
                            [(ngModel)]="employer.EmployerPassword">
                        <mat-error>{{getPasswordError()}}</mat-error>
                    </mat-form-field>
                    <br>
                </div>
            </div>
            <div class="row-12 actions-container">
                <button class="submit col-9" mat-button value="send" type="submit">שמירה</button>
                <button class="cancel col-3" mat-button mat-flat-button color="warn" (click)="onCancel()">ביטול</button>

            </div>

            <div class="alert" role="alert" *ngIf="isFormInvalid">
                מלא את כל השדות
            </div>

        </form>

    </div>
</div>