.allPage{
    background-color: #dddddd;
    direction: rtl;
    min-height: 88vh;
}

.PersonalInformation {
    margin-right:5%;
}

.Moredetails {
    margin-right: -6%;
}

.logindetails {
    margin-right: -6%;
}

h1{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e6b400;
    font-weight: bold;
    padding-top:2%;   
    margin-bottom: 60px; 
}

h2{
    margin-top: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e6b400;
    font-size: 26px;

}

.submit{
    margin-top: 70px;
    font-family: Segoe UI;
    color: #1b1a1a;
    font-size: 1.4rem;
    background-color: #e6b400;
    font-weight: bold;
    width: 200px;
    height: 45px;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

button{
    margin:auto;
}

button:hover{
    opacity: 0.8;
}

.form-field{
    padding: 5px;
}

input{
    width: 100%;
}

h1{
    font: bold;
}

.help-block{
    color: rgb(231, 18, 18);
}

mat-form-field{
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

}