.container{
    width: 400px;
    height: 100vh;
    padding: 30px;
    color: #08376b;
}

.submit{
    border-radius: 50px;
    background-color: #08376b;
    border: 1px #52c8ee solid;
    color: #fff;
    height: 40px;
    width: 200px;
    font-size: 17px;
    margin: 20px;
    font: bold;
}

button:hover{
    opacity: 0.8;
}

.form-field{
    padding: 5px;
}

input{
    width: 100%;
}

h1{
    font: bold;
}

.help-block{
    color: rgb(231, 18, 18);
}

mat-form-field{
    text-align: right;

}
