<section id="home" [ngStyle]="{backgroundImage:'url(./assets/images/home.png)'}">
    <div class="text-box text-center">
        <h1 class="inline">עם <h1 class="name inline">+BONUS</h1> העובדים</h1>
        <h1>שלכם נהנים מהכול!</h1>
        <br><br>
        <p>אתר נוח לקבלת כל ההטבות</p>
        <P class="divider">
            <mat-divider></mat-divider>
        </P>
        <p>שוברים למגוון רשתות ואתרים</p>
        <P class="divider">
            <mat-divider></mat-divider>
        </P>
        <p>מסעדות בפריסה ארצית</p>
    </div>
</section>