<section id="home">
    <div class="container">
        <p class="home" dir="rtl">
            ברוכים הבאים לבונוס+
            <br>
            יש לעובדים שלכם בונוס+? יש להם הכל!
            <br>
            כל מה שרציתם לדעת על רכישת שוברים בבונוס+ ממגוון רשתות ואתרים:
            <br>
            פוקס ,קסטרו, רנואר, מנגו,זארה, שילב, דלתא, טופשופ
            ועוד מגוון חנויות ...
        </p>
        <br>
        <a class="a">לכל הפרטים</a>

        <br><br><br><br><br><br><br><br>

        <p class="customers" dir="rtl"><strong>הלקוחות שלנו</strong></p>
        <img src="assets/images/fox.png" alt="fox">
        <img src="assets/images/castro.png" alt="castro">
        <img src="assets/images/renuar.png" alt="renuar">
        <img src="assets/images/mango.jfif" alt="mango">
        <img src="assets/images/zara.png" alt="zara">
        <img src="assets/images/shilav.png" alt="shilav">
        <img src="assets/images/adidas.png" alt="adidas">
        <img src="assets/images/greg.png" alt="greg">
        <img src="assets/images/cafecafe.png" alt="cafecafe">
        <img src="assets/images/topshop.jfif" alt="topshop">
        <img src="assets/images/bershka.png" alt="bershka">
        <img src="assets/images/delta.png" alt="delta">
        <img src="assets/images/tamnoon.jfif" alt="tamnoon">
        <img src="assets/images/stimatki.jfif" alt="stimatki">
    </div>
</section>