div{
    height: 100vh;
    background-color: #dddddd;
    padding-top: 100px;
}

div>.mat-tab-label-contentmat-tab{
    font-size: 1.5rem;
    font-family: 'Segoe UI';
}

h1{
    font-size: 3rem;  
    font-family: Segoe UI;
    color:#e6b400;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
} 

.mat-tab-label-content, .mat-tab-label ::ng-deep{
    font-family: Segoe UI;

}
