.all-page{
    background-color: #dddddd;
    min-height: 88vh;
    padding: 50px 120px;
    margin: 0;
}

mat-expansion-panel{
    background-color: #dddddd;
    border: none;
    box-shadow: none !important;
}

mat-panel-title{
    display: block;
}

.category-container{
    padding-right: 2.5rem;
}

.category{
    text-align: right;
    font-family: Segoe UI; 
    font: bold;   
    font-size:15px;
}

a{
    text-decoration: none;
    text-align: right;
    font-family: Segoe UI; 
    color: #1b1a1a; 
    font-size:20px;
    display: block;
    height: 50px;
    padding: 15px 10px;
}

h1{
    font-size: xx-large;
    font-family: Segoe UI;
}

mat-divider{
    margin-bottom: 1.5rem;
}

.side-nav{
    border-left: 1px solid #c2c2c2;
}