#companies{
    background-color: white;
}
p.customerss{
    padding: 2%;
    font-size: 125%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;



}

.img-box{
    width: 250px;
    height: 200px;
    margin: 0.5rem;
    padding: 20px;
}

