<section id="companies">
    <div class="container">
        <p class="customerss" dir="rtl"><strong> החברות והארגונים שלנו</strong></p>
        <div class="row">
            <div class="col">
                <div class="row img-box">
                    <img src="assets/images/gali.png" alt="gali">
                </div>
                <div class="row img-box">
                    <img src="assets/images/fox.png" alt="fox">
                </div>
                <div class="row img-box">
                    <img src="assets/images/castro.png" alt="castro">
                </div>
                <div class="row img-box">
                    <img src="assets/images/tamnoon.jfif" alt="tamnoon">
                </div>
            </div>
            <div class="col">
                <div class="row img-box">
                    <img src="assets/images/renuar.png" alt="renuar">
                </div>
                <div class="row img-box">
                    <img src="assets/images/mango.jfif" alt="mango">
                </div>
                <div class="row img-box">
                    <img src="assets/images/zara.png" alt="zara">
                </div>
                <div class="row img-box">
                    <img src="assets/images/topshop.jfif" alt="topshop">
                </div>
            </div>
    
            <div class="col">
    
                <div class="row img-box">
                    <img src="assets/images/shilav.png" alt="shilav">
                </div>
                <div class="row img-box">
                    <img src="assets/images/adidas.png" alt="adidas">
                </div>
                <div class="row img-box">
                    <img src="assets/images/greg.png" alt="greg">
                </div>
                <div class="row img-box">
                    <img src="assets/images/delta.png" alt="delta">
                </div>
            </div>
    
    
            <div class="col">
                <div class="row img-box">
                    <img src="assets/images/stimatki.jfif" alt="stimatki">
                </div>
                <div class="row img-box">
                    <img src="assets/images/cafecafe.png" alt="cafecafe">
                </div>
                <div class="row img-box">
                    <img src="assets/images/bershka.png" alt="bershka">
                </div>
            </div>
        </div>
    </div>
</section>