.container{
    width: 80vw !important;
}

h2{
    text-align: right;
    font-size: 1.6rem;
    font-family: Segoe UI;
    margin-bottom: 2rem;
    margin-top: 3%;
}

.sum{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -5%;
}

.col{
    margin-top: 4%;

}

mat-option{
    text-align: center;
}

.benefit-container{
    text-align: right;
    height: 420px;
}

.details-container{
    margin-top: 4rem;
    text-align: center;
    font-size: 1.7rem;  
    font-family: Segoe UI;
}

.logo-container{
    margin-top: 5rem;
    text-align: center;
}

.details-benefit{
    padding: 40px;
    height: 500px;
    background-color: #fff;
}

img{
    inline-size: auto;
    max-height: 100%;    
}

table {
    width: 100%;
    text-align: center;
    font-family: Segoe UI;
    font-size: 15px;
}
  
th{
    color: #000;
    font-size: 17px !important;
}
  
.mat-header-cell{
    text-align: center;
    font-family: Segoe UI;
    font-size: 15px;
}

.num1{
    margin-top: -4%;
}


.submit{
    margin-top: 20px;
    font-family: Segoe UI;
    color: #1b1a1a;
    font-size: 1.2rem;
    background-color: #e6b400;
    font-weight: bold;
    width: 200px;
    height: 45px;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    margin-bottom: 4%;
}

button:hover{
    opacity: 0.8;
}

.form-field{
    padding: 5px;
}

input{
    width: 100%;
}

.help-block{
    color: rgb(231, 18, 18);
}

mat-form-field{
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 50vw;
    text-align: center;
}