<section id="about-us">
    <div class="container">
        <h1 dir="rtl">קצת עלינו</h1>
        <p class="about-us" dir="rtl">
            ברוכים הבאים לבונוס+
            <br> <br> <br>
            יש לעובדים שלכם בונוס+? יש להם הכל!
            <br> <br> <br>
            כל מה שרציתם לדעת על רכישת שוברים בבונוס+ ממגוון רשתות ואתרים:
            <br> <br> <br>
            פוקס ,קסטרו, רנואר, מנגו,זארה, שילב, דלתא, טופשופ
            ועוד מגוון חנויות ...
            <br> <br> <br> 
            חברת בונוס+ מספקת פלטפורמה טכנולוגית המאפשרת לאלפי עובדי חברות ליהנות ממבצעים והטבות במגוון עצום של רשתות
            ומסעדות ברחבי הארץ
            <br><br>
            החברה מספקת שירות ללמעלה מ-3,000 חברות ו-350,000 עובדים במעל ל- 7,000 מסעדות בפריסה ארצית.

            
        </p>
    </div>
</section>