<section id="about-us">
    <div class="row">
        <div class="icon-container col-4">
            <img src="assets/images/logo-icon.png">
        </div>
        <div class="text-box col-8 ">
            <h1>ברוכים הבאים ל+BONUS</h1>
            <p>אנו מספקים פלטפורמה טכנולוגית, המאפשרת לאלפי עובדים ליהנות ממבצעים והטבות במגוון רחב</p>
            <p>של רשתות ומסעדות בפריסה ארצית, ועל ידי כך משפרים את המוטיבציה האישית והארגונית שלהם.</p>
            <p>הכל כדי להפוך כל יום לטוב יותר, ולהעלות את הערך המוסף של הארגון.</p>
            <p>הכנו לכם הכל באתר שנותן מענה מדוייק ואטרקטיבי לכל מה שאתם רוצים וצריכים...</p>
        </div>
    </div>
</section>