<div class="container row">
    <div *ngFor="let item of workerBenefits" class="col-3">
        <div (click)="openDialog(item)" class="card-container">
            <mat-card class="text-center">
                <mat-card-header>
                    <div mat-card-avatar class="logo-container">
                        <img mat-card-image src="assets/images/logo/{{item.Supplierlogo}}" alt="{{item.SupplierName}}">
                    </div>
                </mat-card-header>
                <div class="img-container">
                    <img mat-card-image src="assets/images/benefits/{{item.BenefitImage}}" alt="{{item.SupplierName}}">
                </div>
                <mat-card-content>
                    <div>
                        {{item.BenefitDetails}}
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="action">
                <p>למימוש</p>
            </div>
        </div>
    </div>
</div>