<div class="form-container text-center">

  <h1>התחברות</h1>
  <h2>-מערכת ניהול-</h2>

  <form [formGroup]="signInForm" (ngSubmit)="onSubmit(signInForm)">
    <div class="container row">

      <h3 class="text-right">כניסה לחשבון האישי</h3>

      <mat-form-field appearance="fill" hideRequiredMarker class="col">
        <mat-label>שם משתמש</mat-label>
        <input matInput formControlName="userName" name="userName">
        <mat-error>{{getUserNameError()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" hideRequiredMarker class="col">
        <mat-label>סיסמא</mat-label>
        <input matInput formControlName="password" name="password" [type]="hide ? 'password' : 'text'">
        <!-- <button class="hide" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button> -->
        <mat-error>{{getPasswordError()}}</mat-error>
      </mat-form-field>

      <div class="forgot-container text-right">
        <a (click)="openDialog()">?שכחת את הסיסמא</a>
      </div>
    </div>

    <button mat-raised-button class="submit" value="send" type="submit">התחברות</button>

    <div class="alert" role="alert" *ngIf="isFormInvalid">
      מלא את כל השדות
    </div>
    <div class="alert" role="alert" *ngIf="areCredentialsInvalid">
      שם משתמש או סיסמא שגויים
    </div>
  </form>
</div>